.container {
    border: 1px solid lightgray;
    padding: 10 10 0 10;
    margin-bottom: 10px;
}
.title_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.title {
    font-weight: 600;
}

.tabs {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 30px 0px 30px;
}

.text_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px 10px 5px;
}

.quill_container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.translate_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.selected_tab {
    border-bottom: 4px solid blue;
    width: 30%;
    display: flex;
    justify-content: center;
}

.tab {
    width: 30%; 
    display: flex; 
    justify-content: center;
}

.error {
   color: red;
}