.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip::after {
    content: attr(data-title);
    position: fixed;
    background-color: lightyellow;
    color: gray;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    top: 30px;
    left: 50%;
    width: 200px;
    transform: translateX(-50%);
    opacity: 0;
    /* visibility: hidden; */
    display: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
    display: block;
    white-space: pre-line;
}

.pos{
    position: fixed;
    background-color: lightyellow;
    color: gray;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    width: 200px;
    z-index: 1000;
    white-space: pre-line;
}