.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px dotted magenta;
    position: relative;
}

.title { 
    font-weight: 700;
}

.body {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

.simple_text{
    font-weight: 300;
    white-space: pre-line;
    font-size: 14;
}