.container {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-background-color);
    border: 1px solid  lightgray;
    border-radius: 10px;
    min-width: var(--filter-group-default-width);
    padding: 0;
    width: 100%;
}

.container.edit {
    padding:10px;
}

.button {
 /*    margin-top: 10px; */
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
}