.title {
    display: flex;
    justify-content: center;
    font-size: 20;
    font-weight: 500;
    flex-grow: 2;
    color: magenta;
}

.header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}