.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    flex-grow: 2;
    flex-shrink: 2;
    min-width: 190px;
    border: 3px solid magenta;
    background-color: #ffeeee;
    padding: 10px;
}


.body {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
}

.edit_list_item_container {
    width: 32%;
    flex-grow: 2;
    min-width: 190px;
}

.list_item_container { 
    width: 190px;
    min-width: 190px ;
}

