.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.calendar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

