.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    flex-grow: 1;
    min-width: 250px;
}

.body {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-start;
    width: 100%;
}

.inner {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-start;
    width: 100%;
}

.item {
    width: 200px;
    min-width: 200px;
}

.preview {
    color: magenta;
    font-weight: bold;
    padding: 5px;
}

.check {
    border: 1px solid lightgray;
    padding: 10 10 10 10;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}