.container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.container.edit {
    padding: 0;
    gap: 0;
}

.title {
    font-weight: 700;
    font-size: 16;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.base{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.buttons {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


