.container {
    display: flex;
    padding: 10px;
    flex-wrap: wrap-reverse;
    gap: 10px;

}

.dates_interval_container {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-grow: 2;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    justify-items: flex-end;
    flex-grow: 1;
}

.show_dates{ 
    font-size: 28;
}