.container {
    display: flex;
    gap: 10px;
    width: 100%;
}

.main {
    display: flex;
    flex-grow: 2;
}


.filterPanel {
    flex-grow: 1;
    margin-top: 10px;
}

.filterPanel.edit {
    margin-top: 0px;
}


.filterGroups {
    display: block;
}

.filterGroupsMobile {
    display: none;
}

@media(max-width: 768px) {
    .container {
        flex-direction: column;
    } 

    .filterGroups {
        display: none;
    }
    
    .filterGroupsMobile {
        display: block;
    }
}