.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    flex-grow: 2;
    flex-shrink: 2;
    min-width: 190px;
    align-items: center;
    border: 3px solid magenta;
    background-color: #ffeeee;
    padding: 10px;

}

.group {
    max-width: 600px;
    min-width: 200px;
    width: 50%;
}