.pos{
    position: fixed;
    background-color: lightyellow;
    color: gray;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    width: 200px;
    z-index: 1000;
    white-space: pre-line;
}

.container {
    border-bottom: 1px solid lightgray;
    overflow: auto;
}

.container.height {
    height: 130px;
}

.inner_container {
    display: flex;
    flex-direction: column;
}

.body {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    justify-content: space-between;
    padding: 3px;
    word-break: break-all;
    font-size: 14;
    color: white;
}

.body.common {
    color:black;

}

.title {
     font-weight: 700 ;
}

.trainer {
   font-style: italic;
}

.buttons {
    display: flex;
    padding: 5px 0;
    gap: 5px;
    justify-content: center;
    align-items: center;
}