.container{ 
    width: 100%;
    padding: 5px;
}

.body { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px;
}

.upload {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 30px;
}