.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
  
  }
  
  .bodyContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    height: 100%;
  }
  
  .actionButton {
    margin-top: 20px;
  }
  