@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1 {
  font-size: 28;
}

h2 {
  font-size: 20;
}

p {
  font-size: 18;
}

a {
  color: blue;
}



.ql-weight .ql-picker-item[data-value="normal"]::before {
  content: "Normal";
}

.ql-weight .ql-picker-item[data-value="bolder"]::before {
  content: "Bolder";
}

.ql-weight .ql-picker-item[data-value="lighter"]::before {
  content: "lighter";
}

.ql-weight .ql-picker-item[data-value="bold"]::before {
  content: "Bold";
}
.ql-weight .ql-picker-item[data-value="100"]::before {
  content: "Weight 100";
}

.ql-weight .ql-picker-item[data-value="300"]::before {
  content: "Weight 300";
}
.ql-weight .ql-picker-item[data-value="400"]::before {
  content: "Weight 400";
}
.ql-weight .ql-picker-item[data-value="700"]::before {
  content: "Weight 700";
}


