.container {
    flex-grow: 2;
    font-weight: 300; /* Default value, adjusted dynamically */
    font-size: 18px; /* Default value, adjusted dynamically */
    /* margin-bottom: 15px; */
  }
  
  .header {
    font-weight: 700;
    font-size: 20px;
  }
  
  .itemWrapper {
    display: flex;
    gap: 5px;
    align-items: flex-start;
  }
  
  .icon {
    width: 16px;
    min-width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 2px solid blue;
    color: #2575fc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    margin-top: 5px;
  }
  