.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tab_titles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    align-items: center;
}

