.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
}