.container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.body {
    width: 100%;
    height: 100%;
    position: relative;
}

.imageInLayout {
    object-fit: cover;
}

.image {
    object-fit: cover;
}


@media(max-width: 768) {
    .container.inLayout {
        min-height: 400px;
    }
  }