
.container {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid #1C00C9;
    border-radius: 10px;
    overflow: hidden;
}

.items {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  background-color: var(--gray-background-color);

}

.name {
    background-color: var(--dark-gray-background-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    font-size: 18;
    font-weight: 700;
    color: #1C00C9;
    width: 190px;
    padding: 10px;
    text-align: center;
    gap: 5px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    font-size: 16;
}

.days {
    flex-grow: 2;
    border-right: 1px solid var(--dark-gray-background-color);
    width: 50%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}


.time {
    flex-grow: 2;
    width: 50%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}


.itemEdit {
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center
}

.name .itemEdit {
        background-color: var(--dark-gray-background-color);

        min-width: 50px;
}

.preview{

    margin: 40 20 40 20;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: var(--gray-background-color);

}


.groupItem {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--dark-gray-background-color);
    min-height: 60px;
}

@media(max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .name {
        min-height: 67px;
        width: 100%;
    }
}