.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: stretch; /* flex-start; */
    justify-content: space-between;
    margin-bottom: 20px;
}

/* .item {
    flex-grow: 2;
     max-width: 50%; 
    position: relative;
}

.left {
    padding-right: 10px;
} 

.right {
    padding-left: 10px;
}
    
*/

.itemLeft {
    flex-grow: 2;
    position: relative;

    padding-right: 10px;

    max-width: 50%;
    border: 1px solid blue;
}

.itemRight {
    flex-grow: 2;
    position: relative;

    padding-left: 10px;

    max-width: 50%;
    border: 1px solid blue;
}



.edit {
    padding: 10px;
    border: 1px dotted magenta;
}


@media(max-width: 768px) {    
    .container {
        flex-direction: column;
        flex-wrap: nowrap;
    };

    .itemLeft {
        max-width: 100%;
        flex-grow: 2;
        position: relative;
        padding-right: 0;
        border: 1px solid green;
    }

    .itemRight {
        max-width: 100%;
        flex-grow: 2;
        position: relative;
        padding-top: 20px;
        padding-left: 0;
        border: 1px solid green;
    }

  /*   .item {
        max-width: 100%;
        flex-grow: 2;
        position: relative;
    }

    .left {
        padding-right: 0;
    }
    
    .right {
        padding-top: 20px;
        padding-left: 0;
    } */
}