.filters {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--gray-background-color);
    border: 1px solid lightgray;
    border-radius: 10px;
    min-width: var(--filter-group-default-width);
    align-items: flex-start;
    gap: 20px;
}

.button {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 10px 0;
    gap: 10px;
}