.body_container {
    position: relative;
    min-height: 300px;
}

.header {
    width: 100%;
    display: block;
}

.headerMobile {
    width: 100%;
    display: none;
}

@media(max-width: 1024px) {
    .header {
        display: none;
    }
    
    .headerMobile {
        display: block;
    }
    
}

.panel {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}
